﻿@model DoctorIndexViewModel

@if(Model.Doctors.Count() > 0)
{
    @foreach(Doctor d in Model.Doctors) 
    {
        <div class="card mb-3" style="width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@d.ImagePath" class="img-fluid rounded-start" alt="@d.DoctorName">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@d.DoctorName</h5>
                        <p class="card-text">@d.Profile</p>
                        <p class="card-text"><small class="text-muted">@d.Proffesion</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h2>There are no info</h2>
}


<!--PAGINATION--->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if(@Model.Pagination.HasPreviousPage)
        {
            <li class="page-item"><a class="page-link"
            asp-controller="Doctor"
            asp-action="Index"
            asp-route-page="@(Model.Pagination.PageNumber - 1)">Previous</a></li>
        }

        @for(int i = 1; i <= Model.Pagination.TotalPages; i++)
        {
            <li class="page-item @(i == Model.Pagination.PageNumber ? "active" : "")">
                <a class="page-link" 
                asp-controller="Doctor"
                asp-action="Index"
                asp-route-page="@i">@i</a>
                </li>
        }

        @if(@Model.Pagination.HasNextPage)
        {
            <li class="page-item"><a class="page-link"
            asp-controller="Doctor"
            asp-action="Index"
            asp-route-page="@(Model.Pagination.PageNumber + 1)">Next</a></li>
        }
    </ul>
</nav>