﻿@model CheckOrderValidation

<form asp-controller="Order" asp-action="Check" method="post">
    <div class="mb-3" asp-validation-summary="All"></div>

    <div class="mb-3">
        <label for="inputOrderNumber" class="form-label">Order number</label>
        <input name="OrderNumber" type="text" class="form-control" id="inputOrderNumber" aria-describedby="textHelp">
        <div id="textHelp" class="form-text">Order number you got on your email after registration.</div>
    </div>

    <div class="mb-3">
        <label for="inputPhoneDigits" class="form-label">Last 4 phone digits</label>
        <input name="PhoneDigits" type="text" class="form-control" id="inputPhoneDigits" aria-describedby="textHelp" maxlength="4">
     <!--   <div id="textHelp" class="form-text">Order number you got on your email after registration.</div>-->
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>