﻿@model CheckOrderViewModel

@if(Model.HavePermission == false)
{
    <h1>You have no permission to check it</h1>    
}
else 
{
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Customer</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.order.Customer</th>
                <td>@Model.order.Description</td>
                <td>@Model.order.OrderDate</td>
                <td>@Model.order.OrderStatus</td>
            </tr>
        </tbody>
    </table>
}