﻿html {
    height: 100%;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto 1fr auto;
}

/*--------------------------------Carousel-----------------------------------*/
.carousel-pic-size {
    width: 100%;
    max-height: 700px;
}
/*--------------------------------End Carousel-----------------------------------*/

/*--------------------------------Footer-----------------------------------*/
.footer-block {
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background-color:mistyrose;
}
/*--------------------------------End Footer-----------------------------------*/