﻿<div class="container">
    <div class="col">
        <div class="container-fluid footer-block">
            <div class=row>
                <div class="col-12 col-md-4">
                    Тут має бути номер телефону х2, емейл адреси, можливо посилання на соціальну мережу, фізична адресу ТУ
                </div>
                <div class="col-12 col-md-4">
                    Тут має бути номер телефону х2, емейл адреси, можливо посилання на соціальну мережу, фізична адресу ТУ
                </div>
                <div class="col-12 col-md-4">
                    Тут має бути номер телефону х2, емейл адреси, можливо посилання на соціальну мережу, фізична адресу ТУ
                </div>
            </div>
        </div>
    </div>
</div>