﻿@inject IConfiguration Configuration
@{
    string clinicName = Configuration["VeterinaryClinicInfo:VeterinaryClinicName"];
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">@clinicName.ToUpper()</a>
            <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarNavDropdown" 
                    aria-controls="navbarNavDropdown" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto w-100 justify-content-end">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href=""
                           id="OrdersDropDown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Orders
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="OrdersDropDown">
                            <li><a class="dropdown-item" 
                             asp-controller="Order" 
                             asp-action="Create">
                             New order
                             </a></li>
                            <li><a class="dropdown-item"
                             asp-controller="Order" 
                             asp-action="Check">Check order</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Doctor" asp-action="Index">Doctors</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                           id="ServicesDropDown" 
                           role="button" 
                           data-bs-toggle="dropdown" 
                           aria-expanded="false">
                            Services
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="ServicesDropDown">
                            @foreach (var enumItem in Enum.GetValues(typeof(ServiceCategory)))
                            {
                                <li><a class="dropdown-item"
                                asp-controller="Service" 
                                asp-action="Index"
                                asp-route-category="@enumItem">@enumItem.ToString().CapitalizeFirstLetter()</a></li>
                            }
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>