﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Veterinary Clinic</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/lib/twitter-bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <partial name="Components/GlobalNavbar.cshtml" />

    <div class="container" style="margin-top: 40px;">
        @RenderBody()
    </div>

    <partial name="Components/Footer.cshtml" />
</body>
</html>