﻿@model IEnumerable<Service>

<table class="table">
    <thead>
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price ($)</th>
        </tr>
    </thead>
    <tbody>
      @foreach(Service service in @Model)
      {
        <tr>
            <th scope="row">@service.ServiceName</th>
            <td>@service.Description</td>
            <td>@service.Price</td>
        </tr>
      }
    </tbody>
</table>